/* EVENTS PAGE */

.events-main-title {
  font-family : Essays1743;
  font-size : 21px;
  letter-spacing : 1.18px;
  color : #231F20;
  color : rgb(35, 31, 32);
  margin-bottom: 50px;
  margin-top: 50px;
}

.event-c {
    padding-top: 10px;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
    border-left:0;
    border-right:0;
    border-bottom:0;
    border-image: url("../img/border01.png") 2 round;
    border-image-repeat: repeat;
    margin-bottom: 30px;
}

.event-c img {
    border: 3px solid black;
    border-radius: 5px;
    margin: 10px;
    width: 100%;
    box-sizing: border-box;
}

.event-title {
  font-family : Essays1743;
  font-size : 25px;
  letter-spacing : 1.18px;
  padding-top: 1em;
}


.event-date {
  font-family : Essays1743;
  font-size : 24px;
  letter-spacing : 1.18px;
  color : #231F20;
  color : rgb(35, 31, 32);
}


.event-text {
  font-family : Essays1743;
  font-style : italic;
  font-size : 18px;
  letter-spacing : 0.61px;
  color : #000000;
  color : rgb(0, 0, 0);
}


.eventa-title {
  font-family : Essays1743;
  font-size : 21px;
  letter-spacing : 1.11px;
  color : #000000;
  color : rgb(0, 0, 0);
}


.pic-left, .pic-right {
    margin: 1em;
    margin-top: 4.6em;
    
}

.pic-left {
    float: left;
    margin-right: 2em;

}

.pic-right {
    float: right;
    margin-left: 1em;
}


@media screen and (max-width:640px) {
    .pic-left, .pic-right{
	clear: both;
	margin: auto;
	width: 100%;
	text-align: center;
	margin-bottom: 1em;
	margin-top: 2em;
    }
}