/* EVENTS PAGE */

.events-main-title {
    font-family : Essays1743;
    font-size : 26px;
    font-weight: bold;
    letter-spacing : 1.18px;
    margin-bottom: 60px;
    margin-top: 0.5em;
}

.event-c {
    clear: both;
    text-align: justify;
    border-style: solid;
    border-width: 2px;
    border-left:0;
    border-right:0;
    border-bottom:0;
    border-image: url("../img/border01.png") 3 round;
    border-image-repeat: repeat;
    margin-bottom: 2em;
}

.event-c img {
    border: 3px solid black;
    border-radius: 5px;
    width: 100%;
}

.event-title {
  font-family : Essays1743;
  font-style : italic;
  font-size : 25px;
  letter-spacing : 1.18px;
  margin-bottom: 0.5em;
  clear: both;
}


.event-date {
  font-family : Essays1743;
  font-size : 24px;
  letter-spacing : 1.18px;
  color : #231F20;
  color : rgb(35, 31, 32);
  margin: 0;
  padding-top: 0.5em;
}


.event-text {
  font-family : Essays1743;
  font-style : italic;
  font-size : 18px;
  letter-spacing : 0.61px;
  color : #000000;
  color : rgb(0, 0, 0);
}


.eventa-title {
  font-family : Essays1743;
  font-size : 21px;
  letter-spacing : 1.11px;
  color : #000000;
  color : rgb(0, 0, 0);
}


.pic-left, .pic-right {
    margin: 1em;
    margin-top: 4.5em;
}

.pic-center {
    margin-top: 1.5em;
    max-width: 60%;
}

.pic-left {
    float: left;
    margin-right: 2em;

}

.pic-right {
    float: right;
    margin-left: 2em;
}

.event-text a {
    text-decoration: underline;
    color: rgb(184,86,2);
}

@media screen and (max-width:640px) {
    .pic-center, .pic-left, .pic-right{
	clear: both;
	margin: auto;
	width: 100%;
	max-width: 100%;
	text-align: center;
	margin-bottom: 1em;
	margin-top: 1.5em;
    }
    .events-main-title {
	text-align: left;
	width: 9em;
    }
}
