/*MENU PAGE*/

.content {
    margin-top: 50px;
}


.menu-nav {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
    text-align: left;
    margin-bottom: 10px;
    background:url(../img/background.jpg);
    background-size: 100%;
    z-index: 9;
    border-bottom: 1px solid black;
    text-align: center;
    padding-bottom: 10px;
}


.menu-nav-item {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 18%;
    text-align: center;
    z-index: 11;
}


.vhcenter-menu {
    padding: 0;
}

.food, .beer, .drinks {
    mix-blend-mode: normal;
}

.menu-desc-top {
    margin-bottom: 40px;
    max-width: 809px;
}

.menu-desc-bottom {
    margin-top: 40px;
}

.menu-desc-text {
    clear: both;
    font-family : Essays1743;
    font-style : italic;
    font-size : 14px;
    letter-spacing : 0.41px;
    color : #000000;
    color : rgb(0, 0, 0);
    padding: 5px;
}

.menu-c {
    max-width: 809px;
}

.menu-title {
  font-family : Essays1743;
  font-size : 18px;
  letter-spacing : 0.61px;
  color : #000000;
  color : rgb(0, 0, 0);
  margin-top: 40px;
  margin-bottom: 20px;
}


.menu-section-title {
    clear: both;
    font-family : Essays1743;
    font-size : 18px;
    letter-spacing : 0.61px;
    color : #000000;
    color : rgb(0, 0, 0);
    text-align: left;
    mix-blend-mode: overlay;
    margin-top: 20px;
    margin-bottom: 10px;
}

.menu-item-c {
    width: 100%;
    clear: both;
    padding-bottom: 0.7em;
}

.menu-item-text {
  font-family : Essays1743;
  font-style : italic;
  font-size : 18px;
  letter-spacing : 0.61px;
  color : #000000;
  color : rgb(0, 0, 0);
  text-align: justify;
  line-height: 1.2em;
}


.menu-item-text2 {
  font-family : Essays1743;
  font-style : italic;
  font-size : 18px;
  letter-spacing : 0.61px;
  color : #000000;
  color : rgb(0, 0, 0);
  text-align: justify;
  line-height: 1em;
  margin-bottom: 1em;
}

.menu-item-text3 {
  font-family : Essays1743;
  font-style : italic;
  font-size : 18px;
  letter-spacing : 0.61px;
  color : #000000;
  color : rgb(0, 0, 0);
  text-align: justify;
  line-height: 1em;
  margin-bottom: 0px;
}

.250px {
    max-width: 250px;
}

.menu-item-left { 
    float: left;
    margin: 0;
    margin-right: 8px;
}

.menu-item-middle { 
    overflow: auto;
    border-style: solid;
    border-width: 1px;
    border-top:0;
    border-left:0;
    border-right:0;
    border-image: url("../img/border01.png") 1;
    border-image-repeat: repeat;
    padding-top: 1em;
    margin: 0;
}

.menu-item-right { 
    float: right;
    margin: 0;
    margin-left: 10px;
}

.menu-logo-bottom {
    margin-top: 130px;
    margin-bottom: 130px;
    height: 140px;
}


.clickable:hover {
    mix-blend-mode: overlay;
}


/*Tablets*/
@media screen and (max-width: 630px) {
    .menu-item-middle {
	width: 100%
    }
    .content {
	padding: 0px 10px;
    }
    .menu-nav {
	text-align: left;
    }

    .menu-nav-item {
	width: 25%;
    }
}


@media screen and (min-width: 10000px) {
    .menu-nav {
	min-width: 72px;
	position: absolute;
	overflow: auto;
	text-align: center;
    }

    .menu-nav-item {
	position: relative;
	margin-bottom: 70px;
	width: 50px;
	height: 50px;
    }

    .vhcenter-menu {
	padding-top: calc((100vh - 350px) / 2);
	padding-left: calc((100vw - 970px) / 4 + 5px);
	min-height: 350px;
    }
}