.g-container {
    font-size: 14px;
    width:100%;
    height: 45em;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    border-radius: 10px;
    padding-top: 20px;
}

.g-container .image-wrap {
    display: inline-block;
    height: 20em;
    margin-right: 30px;
    margin-bottom: 20px;
}

.g-container .border-wrap {
    border: 3px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    display: inline-block;
}

.g-container .image {
    max-width: 32em;
    max-height: 20em;
    z-index: 1;
}


.g-container img {
    height: 20em;
}    

.g-container div:hover {
    opacity: 0.8;
}





a.gprev, a.gnext {
    height: 100px;
    position:absolute;
    width:43px;
    top:50%;
    margin-top:-60px;
    opacity:0.6;
    text-indent:-99999px;
    cursor:pointer;
    -webkit-transition:opacity 200ms ease-out;
    z-index: 2;
}

a.gprev:hover,a.gnext:hover {
	opacity:1;
}
.gprev {
    left:0;
    background: #000 url('../img/sprite.png') no-repeat -200px 25px;
}
.gnext {
    right:0;
    background: #000 url('../img/sprite.png') no-repeat -167px 25px;
}

.g-slider {
    display: inline-block;
    transition-property: margin-left;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    margin-left: 0;
}

.g-container .g-slider:hover {
    opacity: 1;
}



/*smaller gallery*/
@media screen and (max-width: 900px) {
    .g-container {
	font-size: 10px;
    }
}

/*wider gallery*/
@media screen and (min-width: 1100px) {
    .g-container {
	width:120%;
	margin-left: -10%;
    }
}