/* INDEX PAGE */

.vspace-section1 {
  height: -webkit-calc(100vh - 200.6px);
  height: -moz-calc(100vh - 200.6px);
  height: calc(100vh - 200.6px);
}

/*menu*/
.vcenter-section1 {
    padding-top: calc((100vh - 200px) / 2 - 90px);
    min-height: 200px;
}

/*chi siamo*/
.vcenter-section2 {
    min-height: 555px;
    padding-top: calc((100vh - 555px) / 4);
}

/*events*/
.vcenter-section3 {
    padding-top: calc((100vh - 560px) / 4);
    min-height: 560px;
}

/*gallery*/
.vcenter-section4 {
    padding-top: calc((100vh - 670px) / 4);
    min-height: 670px;
}

/*contacts*/
.vcenter-section5 {
    padding-top: calc((100vh - 550px) / 4);
    min-height: 550px;
}

.top-logo-container {
    height: 175.6px;
    width: 649;
    margin-top: 27.5px;
    position: relative;
}

.top-border {
    position:absolute;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    margin:auto;
}

.top-logo {
    height: 85%;
}


.top-logo-motto {
  font-family : Essays1743;
  font-style : italic;
  font-size : 23px;
  color : #000000;
  color : rgb(0, 0, 0);
  opacity : 0.7;
  margin-top: 5px;
}

.m-title {
    font-family : Essays1743;
    font-size : 21px;
    letter-spacing : 1.18px;
    color : #231F20;
    color : rgb(35, 31, 32);
    mix-blend-mode: overlay;
    margin-bottom: 0.4em;
    white-space:nowrap;
}


.clickable .m-title {
    text-decoration: none;
    position: relative;
}

.clickable .m-title:before {
    content: "";
    position: absolute;
    width: 85%;
    height: 2px;
    bottom: 0;
    left: 20px;
    background-color: #000;
    visibility: hidden;
}

.clickable:hover .m-title:before {
  visibility: visible;
}


.m-text-container {
    width: 242.309px;
    margin: auto;
}

.m-text {
  font-family : Essays1743;
  font-style : italic;
  font-size : 18px;
  letter-spacing : 0.61px;
  color : #000000;
  color : rgb(0, 0, 0);
  line-height: 1.1em;
}

.m-icon {
    padding-bottom: 0.8em;
}

.section-title {
  font-family : Essays1743;
  font-size : 26px;
  letter-spacing : 1.18px;
  color : #231F20;
  color : rgb(35, 31, 32);
  mix-blend-mode: overlay;
  padding-bottom: 40px;
  padding-top: 20px;
}

.section-text-container {
    width: 242.309px;
    margin-left: auto;
    margin-right: auto;
}

.section-text {
  font-family : Essays1743;
  font-style : italic;
  font-size : 18px;
  letter-spacing : 0.61px;
  color : #000000;
  color : rgb(0, 0, 0);
  line-height: 1.1em;
}


.c-img-container {
    width: 100%;
    margin-top: 40px;
}

.img-border {
    border: 2px solid black;
    border-radius: 5px;
}

.e-text {
    line-height: 1.3em;
}


.calendar-title {
  font-family : Essays1743;
  font-size : 21px;
  letter-spacing : 1.18px;
  color : #231F20;
  color : rgb(35, 31, 32);
  mix-blend-mode: overlay;
  margin-bottom: 15px;
  margin-top: 40px;
}


.calendar-container {
    max-width: 810px;
    border: 2px solid black;
    border-radius: 5px;
}

.calendar-month {
  font-family : Essays1743;
  font-size : 21px;
  letter-spacing : 1.18px;
  color : #231F20;
  color : rgb(35, 31, 32); 
  text-decoration : underline;
}

.month {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    font-size : 23px;
}

.month .prev {
    float: left;
    padding-left: 10px;
}

.month .next {
    float: right;
    padding-right: 10px;
}


.calendar-day {
  font-family : Essays1743;
  font-size : 21px;
  letter-spacing : 1.03px;
  color : #020202;
  color : rgb(2, 2, 2);
}


.calendar-day-c {
    padding-right: 10px;
    margin-left: -10px;
}

ul {
    list-style-type: none;
    -moz-column-count: 4;
    -moz-column-gap: 2px;
    -webkit-column-count: 4;
    -webkit-column-gap: 2px;
    column-count: 4;
    column-gap: 2px;
    padding: 0;
}

.calendar-day li {
    list-style-type: none;
    min-width: 25%;
    text-align: right;
    line-height: 1.05em;
}

.c-day-c {
    width: 160px;
    overflow: hidden;
    display: inline-block;
    text-align: left;
    padding-left: 0.3em;
    border-style: solid;
    border-width: 1px;
    border-top:0;
    border-left:0;
    border-right:0;
    border-image: url("../img/border01.png") 1;
}



.c-event {
    font-family : Essays1743;
    font-size : 11px;
    letter-spacing : 0.41px;
    color : #000000;
    color : rgb(0, 0, 0);
}


.g-container {
    width: 100%;
    height: 400px;
}

/* clearfix because of floats */
.g-container:before, .g-container:after {
    content: "";
    display: table;
}
.g-container:after {
    clear: both;
}

.image {
    float: left;
    margin-bottom: 15px;
}

@media (max-width: 499px) {
      .image {
          float: none;
          margin-right: auto;
          margin-left: auto;
      }
}

.image img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
}

.first-item {
    clear: both;
}
    /* remove margin bottom on last row */
.last-row, .last-row ~ .image {
    margin-bottom: 0;
}


.g-container a {
    border: 2px solid black;
    border-radius: 5px;
}

.g-container a:hover {
    opacity: 0.8;
}


.restaurant-title {
  font-family : Essays1743;
  font-size : 32px;
  letter-spacing : 1.79px;
  color : #231F20;
  color : rgb(35, 31, 32);
p}


.r-motto-c {
    margin-top: -0.8em;
    margin-bottom: 40px;
}

.restaurant-motto {
  font-family : Essays1743;
  font-style : italic;
  font-size : 21px;
  color : #020202;
  color : rgb(2, 2, 2);
}


.c-social-c {
    width: 504px;
    padding-top: 60px;
}

.contacts-c {
    position: relative;
}

.contact-text
{
  font-family : Essays1743;
  font-size : 18px;
  letter-spacing : 0.61px;
  color : #000000;
  color : rgb(0, 0, 0);
  margin-top: 10px;
}

.ttr {
    width: 33%;
    display: inline-block;
}

.tt {
    width: 33%;
    display: inline-block;
}


/*Remove top border*/
@media screen and (max-width: 795px) {
    .top-border {
	display: none;
    }
}

/*Tablets*/
@media screen and (max-width: 900px) {
    .ttr {
	width: 243px;
	display: block;
	margin: auto;
    }

    .contact-text {
	padding-bottom: 1.5em;
    }

    .c-social-c {
	padding-top: 20px;
	padding-bottom: 20px;
    }

    .m-text-container {
	padding-bottom: 2em;
    }

    /*menu*/
    .vcenter-section1 {
	padding-top: calc((100vh - 642px) / 4);
	min-height: 642px;
    }

    /*others*/
    .vcenter-section2, .vcenter-section3, .vcenter-section4, .vcenter-section5 {
	padding-top: 10px;
	padding-bottom: 50px;
	height: 100%;
    }

    .vspace-fullm, .vspace-full {
	height: 100%;
    }

    .desktop {
	display: none;
    }
    .mobile {
	display: auto;
    }
}

/*Normal Desktop*/
@media screen and (min-width: 901px) {
    .desktop {
	display: auto;
    }
    .mobile {
	display: none;
    }
}


/*3column events*/
@media screen and (max-width: 945px) and (min-width: 651px) {
    ul {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
    }

    .calendar-day li {
	min-width: 33%;
    }


}


/*2column events*/
@media screen and (max-width: 650px) {
    /*events*/
    .vcenter-section3 {
	padding-top: 0;
	min-height: 650px;
    }
    ul {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
    }
    .calendar-day li {
	min-width: 50%;
    }
}
