/* INDEX PAGE */

.vspace-section1 {
  height: -webkit-calc(100vh - 200.6px);
  height: -moz-calc(100vh - 200.6px);
  height: calc(100vh - 200.6px);
  margin-bottom: 50px;
}

/*menu*/
.vcenter-section1 {
    padding-top: calc((100vh - 200px) / 2 - 90px);
    min-height: 200px;
}

/*chi siamo*/
.vcenter-section2 {
    padding-top: calc((100vh - 555px) / 4);
}

/*events*/
.vcenter-section3 {
    padding-top: calc((100vh - 540px) / 4);

}

/*gallery*/
.vcenter-section4 {
    padding-top: calc((100vh - 660px) / 4);
}

/*contacts*/
.vcenter-section5 {
    padding-top: calc((100vh - 540px) / 4);
    padding-bottom: 80px;
}

.top-logo-container {
    height: 175px;
    margin-top: 30px;
    position: relative;
    pointer-events:none;
    margin: auto;
}

.top-border {
    position:absolute;
    top:5px;
    left: 0;
    right:0;
    bottom: 0;
    margin:auto;
}

.top-logo {
    height: 85%;
}


.top-logo-motto {
  font-family : Essays1743, Verdana, Geneva, sans-serif, times;
  font-style : italic;
  font-size : 23px;
  color : #000000;
  color : rgb(0, 0, 0);
  opacity : 0.7;
  margin-top: 5px;
}

.m-title {
    font-family : Essays1743, Verdana, Geneva, sans-serif, times;
    font-size : 21px;
    letter-spacing : 1.18px;
    color : #231F20;
    color : rgb(35, 31, 32);
    mix-blend-mode: overlay;
    margin-bottom: 0.4em;
    white-space:nowrap;
}


.clickable .m-title {
    text-decoration: none;
    position: relative;
}

.clickable:hover .m-title {
    text-decoration: underline;
}


.m-text-container {
    width: 242.309px;
    margin: auto;
}

.m-text {
    font-family : Essays1743, Verdana, Geneva, sans-serif, times;
    font-style : italic;
    font-size : 18px;
    letter-spacing : 0.61px;
    color : #000000;
    color : rgb(0, 0, 0);
    line-height: 1.1em;
}

.m-icon {
    height: 70px;
    box-sizing: border-box;
    margin-bottom: 0.8em;
    padding: 0;
}

.center-plate {
    padding-left: 20px;
}

.m-icon:hover {
}


.section-title {
    font-family : Essays1743, Verdana, Geneva, sans-serif, times;
    font-size : 26px;
    font-weight: bold;
    letter-spacing : 1.18px;
    color : #231F20;
    color : rgb(35, 31, 32);
    mix-blend-mode: overlay;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 0;
}

.section-text-container {
    width: 242.309px;
    margin-left: auto;
    margin-right: auto;
}

.section-text {
    font-family : Essays1743, times;
    font-style : italic;
    font-size : 18px;
    letter-spacing : 0.61px;
    color : #000000;
    color : rgb(0, 0, 0);
    line-height: 1.1em;
}


.c-img-container {
    width: 100%;
    margin-top: 40px;
}

.c-img-container img {
    width: 100%;
}

.img-border {
    border: 2px solid black;
    border-radius: 5px;
}

.e-text {
    max-width: 33em;
}


.calendar-title {
  font-family : Essays1743, times;
  font-size : 21px;
  letter-spacing : 1.18px;
  color : #231F20;
  color : rgb(35, 31, 32);
  mix-blend-mode: overlay;
  margin-bottom: 15px;
  margin-top: 40px;
}


.calendar-container {
    max-width: 810px;
    border: 2px solid black;
    border-radius: 5px;
}

.calendar-month {
    font-family : Essays1743;
    font-size : 21px;
    letter-spacing : 1.18px;
    color : #231F20;
    color : rgb(35, 31, 32); 
    text-decoration : underline;
}

.month {
    margin-bottom: 5px;
    margin-top: 10px;
    width: 100%;
    font-size : 23px;
}

.month .prev {
    float: left;
    padding-left: 10px;
}

.month .next {
    float: right;
    padding-right: 10px;
}

.month a {
    text-decoration: none;
    color: black;
    font-size: 33px;
    outline: none;
    margin: 0;
    padding: 0;
}


.calendar {
    position: relative;
    width: 100%;
    font-family : Essays1743;
    font-size : 21px;
    letter-spacing : 1.03px;
}


.calendar ul {
    list-style-type: none;
    -moz-column-count: 4;
    -moz-column-gap: 2px;
    -webkit-column-count: 4;
    -webkit-column-gap: 2px;
    column-count: 4;
    column-gap: 2px;
    padding: 5px;
    padding-right: 10px;
    padding-bottom: 0;
    transition: 0.5s;
}

.calendar li {
    list-style-type: none;
    text-align: left;
    position: relative;
    margin-left: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}

.day {
    float: left;
    text-align: right;
    font-size: 21px;
    width: 20px;
    color : #020202;
    color : rgb(2, 2, 2);
}

.event {
    font-size : 11px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-top:0;
    border-left:0;
    border-right:0;
    border-image: url("../img/border01.png") 2;
    margin-left: 30px;
    height: 2.5em;
    overflow: hidden;
}

.calendar a {
    font-family : Essays1743;
    font-size : 11px;
    font-weight: bold;
    letter-spacing : 0.41px;
    text-decoration: none;
    position: absolute;
    margin-left: 0.5em;
    bottom: 0.4em;
    color : #000000;
    color : rgb(0, 0, 0);
    white-space: nowrap;
}


.restaurant-title {
  font-family : Essays1743;
  font-size : 32px;
  letter-spacing : 1.79px;
  color : #231F20;
  color : rgb(35, 31, 32);
}


.r-motto-c {
    margin-top: -0.8em;
    margin-bottom: 40px;
}

.restaurant-motto {
  font-family : Essays1743;
  font-style : italic;
  font-size : 21px;
  color : #020202;
  color : rgb(2, 2, 2);
}


.c-social-c {
    position: relative;
    max-width: 504px;
    height: 85px;
    margin-top: 60px;
    margin-bottom: 60px;
    overflow: hidden;
}

.s-icon {
    display: block;
    height: 80px;
    box-sizing: border-box;
    margin-bottom: 0.8em;
    padding: 0;
}

.contacts-c {
    position: relative;
}

.contact-text
{
  font-family : Essays1743;
  font-size : 18px;
  letter-spacing : 0.61px;
  color : #000000;
  color : rgb(0, 0, 0);
  margin-top: 10px;
}

.ttr {
    width: 33%;
    display: inline-block;
    vertical-align: top;
}


.tt {
    width: 33%;
    display: inline-block;
}


/*Remove top border*/
@media screen and (max-width: 795px) {
    .top-border {
	display: none;
    }
}

/*Tablets*/
@media screen and (max-width: 900px) {
    .ttr {
	width: 243px;
	display: block;
	margin: auto;
    }

    .contact-text {
	padding-bottom: 1.5em;
    }

    .c-social-c {
	padding-top: 20px;
	padding-bottom: 20px;
    }

    .m-text-container {
	padding-bottom: 2em;
    }

    /*menu*/
    .vcenter-section1 {
	padding-top: 30px;
    }

    .vspace-section1 {
	height: 100%;
    }

    /*others*/
    .vcenter-section2, .vcenter-section3, .vcenter-section4, .vcenter-section5 {
	padding-top: 10px;
	padding-bottom: 50px;
    }

    .vspace-fullm, .vspace-full {
	height: 100%;
    }
}


/*3column events*/
@media screen and (max-width: 945px) and (min-width: 651px) {
    .calendar ul {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
    }

    .calendar li {
	min-width: 33%;
    }


}


/*2column events*/
/*MOBILE*/
@media screen and (max-width: 640px) {
    .top-logo {
	height: 75%;
    }
    .top-logo-container {
	z-index: 10;
    }
    .m-icon {
	height: 60px;
    }
    /*events*/
    .calendar ul {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
    }
    .calendar li {
	min-width: 50%;
    }

    .m-title, .section-title, .calendar-title, .calendar a {
	mix-blend-mode: normal;
	color: rgb(184,86,2);
    }

    .c-social-c {
	margin-top: 20px;
	margin-bottom: 60px;
    }
    /*menu*/
    .vcenter-section1 {
	padding-top: 20px;
    }
    .m-title {
	padding-bottom: 0;
	margin-bottom: 30px;
    }

    .contact-text
    {
	margin-top: 0px;
    }

    .restaurant-title {
	margin: 0px;
    }

    .section-title {
	margin: 0px;
	padding-top: 0px;
    }

}


/*1column events*/
@media screen and (max-width: 460px) {
    .calendar ul {
	-moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
    }
    .calendar a {
	font-size : 14px;
    }
}
