/*MENU PAGE*/


.menu-nav {
    width: 72px;
    position: absolute;
    overflow: auto;
    margin-top: 130px;
    margin-left: 5px;
}

.menu-nav-item {
    position: relative;
    margin-bottom: 50px;
}

.food, .beer, .drinks {
    mix-blend-mode: normal;
}

.menu-desc-top {
    margin-bottom: 40px;
    max-width: 809px;
}

.menu-desc-bottom {
    margin-top: 40px;
}

.menu-desc-text {
    clear: both;
    font-family : Essays1743;
    font-style : italic;
    font-size : 14px;
    letter-spacing : 0.41px;
    color : #000000;
    color : rgb(0, 0, 0);
    padding: 5px;
}

.menu-c {
    max-width: 809px;
}

.menu-title {
  font-family : Essays1743;
  font-size : 18px;
  letter-spacing : 0.61px;
  color : #000000;
  color : rgb(0, 0, 0);
  margin-top: 40px;
  margin-bottom: 20px;
}


.menu-section-title {
    clear: both;
    font-family : Essays1743;
    font-size : 18px;
    letter-spacing : 0.61px;
    color : #000000;
    color : rgb(0, 0, 0);
    text-align: left;
    mix-blend-mode: overlay;
    margin-top: 20px;
    margin-bottom: 10px;
}

.menu-item-c {
    width: 100%;
    clear: both;
    padding-bottom: 0.7em;
}

.menu-item-text {
  font-family : Essays1743;
  font-style : italic;
  font-size : 18px;
  letter-spacing : 0.61px;
  color : #000000;
  color : rgb(0, 0, 0);
  text-align: justify;
  line-height: 1.2em;
}


.menu-item-text2 {
  font-family : Essays1743;
  font-style : italic;
  font-size : 18px;
  letter-spacing : 0.61px;
  color : #000000;
  color : rgb(0, 0, 0);
  text-align: justify;
  line-height: 1em;
  margin-bottom: 1em;
}

.menu-item-text3 {
  font-family : Essays1743;
  font-style : italic;
  font-size : 18px;
  letter-spacing : 0.61px;
  color : #000000;
  color : rgb(0, 0, 0);
  text-align: justify;
  line-height: 1em;
  margin-bottom: 0px;
}

.250px {
    max-width: 250px;
}

.menu-item-left { 
    float: left;
    margin: 0;
    margin-right: 8px;
}

.menu-item-middle { 
    overflow: auto;
    border-style: solid;
    border-width: 1px;
    border-top:0;
    border-left:0;
    border-right:0;
    border-image: url("../img/border01.png") 1;
    border-image-repeat: repeat;
    padding-top: 1em;
    margin: 0;
}

.menu-item-right { 
    float: right;
    margin: 0;
    margin-left: 10px;
}

.menu-logo-bottom {
    margin-top: 130px;
    margin-bottom: 130px;
    height: 140px;
}
