/*MENU PAGE*/

.menu-nav {
    width: 72px;
    position: fixed;
    overflow: auto;
    text-align: right;
    vertical-align: center;
    top: 20vh;
    left: calc((100vw - 970px) / 4 + 5px);
    overflow: hidden;
    z-index: 8;
    background-color: transparent;
}


.menu-nav-item {
    display: block;
    height: 20vh;
    min-height: 50px;
    width: 100%;
    vertical-align: center;
    text-align: left;
    z-index: 9;
    box-sizing: border-box;
}


.menu-nav-item img {
    filter: grayscale(75%);
    height: 50px;
}

.menu-nav-item a {
    outline: none;
}

.menu-nav-item .is-active {
    filter: grayscale(0%);
}


.vhcenter-menu {
    padding: 0;
}

.food, .beer, .drinks {
    mix-blend-mode: normal;
}

.menu-desc-top {
    margin-bottom: 40px;
    max-width: 809px;
}

.menu-desc-bottom {
    margin-top: 40px;
}

.menu-desc-text {
    clear: both;
    font-family : Essays1743;
    font-style : italic;
    font-size : 14px;
    letter-spacing : 0.41px;
    color : #000000;
    color : rgb(0, 0, 0);
    padding: 5px;
}

.menu-c {
    max-width: 809px;
}

.menu-title {
  font-family : Essays1743;
  font-size : 18px;
  letter-spacing : 0.61px;
  margin-top: 40px;
  margin-bottom: 20px;
}


.menu-section-title {
    font-family : Essays1743;
    font-size : 18px;
    letter-spacing : 0.61px;
    text-align: left;
    mix-blend-mode: overlay;
    margin-top: 20px;
    margin-bottom: 15px;
}

.menu-item-c {
    width: 100%;
    clear: both;
    padding-bottom: 0.7em;
    vertical-align: top;
    position: relative;
}

.menu-item-text {
  font-family : Essays1743;
  font-style : italic;
  font-size : 18px;
  letter-spacing : 0.61px;
  color : #000000;
  color : rgb(0, 0, 0);
  text-align: justify;
  line-height: 1.2em;
}


.menu-item-text2 {
    font-family : Essays1743;
    font-style : italic;
    font-size : 18px;
    letter-spacing : 0.61px;
    color : #000000;
    color : rgb(0, 0, 0);
    text-align: justify;
    line-height: 1em;
    margin: 0;
    padding: 0;
    margin-bottom: 2em;
}

.menu-item-text3 {
    font-family : Essays1743;
    font-style : italic;
    font-size : 18px;
    letter-spacing : 0.61px;
    color : #000000;
    color : rgb(0, 0, 0);
    text-align: left;
    padding: 0;
    margin: 0;
    margin-top: 0.3em;
    position: absolute:
    bottom: 0;
}

.menu-item-left { 
    float: left;
    margin: 0;
    margin-right: 8px;
}

.menu-item-middle { 
    overflow: auto;
    border-style: solid;
    border-width: 1px;
    border-top:0;
    border-left:0;
    border-right:0;
    border-image: url("../img/border01.png") 1;
    border-image-repeat: repeat;
    padding-top: 1em;
    margin: 0;
}

.menu-item-right { 
    float: right;
    margin: 0;
    margin-left: 10px;
}

.menu-logo-bottom {
    margin-top: 130px;
    margin-bottom: 130px;
    height: 140px;
}


a:hover img {
    filter: grayscale(0%);
}


@media screen and (max-width: 970px) {
    .menu-nav {
	left: 10px;
    }
    .content {
	padding-left: 70px;
    }
}

/*Tablets*/
@media screen and (max-width: 640px) {
    .menu-item-middle {
	width: 100%
    }
    .content {
	padding: 0px 10px;
	margin-top: 50px;
    }


    .menu-section-title {
	mix-blend-mode: normal;
	color: rgb(184,86,2);
    }
    

    .menu-nav {
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0px;
	left: 0px;
	overflow: hidden;
	text-align: left;
	background:url(../img/background.jpg);
	background-size: 100%;
    }

    .menu-nav-item {
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	height: 90%;
	width: 25%;
	text-align: center;

    }

    .menu-nav-item img {
	height: 100%;
    }
}


