.debug {
    position: fixed;
    top: 0;
    left: 0;
}

@font-face {
    font-family: 'Essays1743';
    src:url('../fonts/essays.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Essays1743';
    src:url('../fonts/essays-italic.woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Essays1743';
    src:url('../fonts/essays-bold.woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Essays1743';
    src:url('../fonts/essays-bold-italic.woff');
    font-weight: bold;
    font-style: italic;
}



html {
    background:url(../img/background.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
    overflow-x: hidden;
}

body {
}

.clickable {
    cursor: pointer;
}

.hover:hover {
    opacity: 0.7;
}

.overlay {
    mix-blend-mode: overlay;
}

.centered {
    margin: auto;
}

.content {
    max-width: 970px;
    padding: 0px 72px;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    padding-bottom: -60px;
}


.left {
    float: left;
    width: 50%;
    text-align: left;
}

.right {
    overflow: auto;
    text-align: right;
}

.footer {
    position: relative;
    margin-top: -60px;
    height: 50px;
    clear:both;
}

.copyright-text {
  font-family : Essays1743;
  font-size : 12px;
  letter-spacing : 0.59px;
  color : #020202;
  color : rgb(2, 2, 2);
}


.vspace-full {
    min-height: 100vh;
    margin-bottom: 50px;
}

.vspace-fullm {
    min-height: 100vh;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}


.icon {
    height: 100%;
}


.desktop {
    display: auto;
}

.mobile {
    display: none;
}


@media screen and (max-width: 900px) {
    .content {
	width: 100%;
	padding: 0px 24px;
    }
}


@media screen and (max-width: 768px) {
    .desktop {
	display: none;
    }
    .mobile {
	display: inline;
    }
}

@media screen and (max-width: 650px) {
    .overlay {
	mix-blend-mode: normal;
	color: rgb(184,86,2);
    }
}